.footer {
    background: transparent;
    color: black;
    font-weight: bold;
    font-size: 2ch;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: -15px;
}
  
.container {
    max-width: 960px;
    margin: 0 auto;
}